spring:
  application:
    name: notification-service

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-service
      auto-offset-reset: earliest

server:
  port: 8086

logging:
  file:
    name: logs/app.log
  level:
    root: INFO
    com.example.notification_service: DEBUG
