spring:
  application:
    name: email-service

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: email-service
      auto-offset-reset: earliest

  mail:
    host: smtp.gmail.com
    port: 587
    username: techtipes753@gmail.com
    password: jbmo pdnn zlrd sufj
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


server:
  port: 8085

logging:
  file:
    name: logs/app.log
  level:
    root: DEBUG

